.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  .skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
  }
  
  .skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  
  
  
  #load-more{
    width: 150px;
    padding: 8px;
    background-color: rgb(128, 4, 0);
    font-weight: bolder;
    height: 35px;
    color: white;
    border: none;
    border-radius: 8px;

  }
  #load-vip{
    width: 150px;
    padding: 8px;
    background-color: rgb(94, 119, 3);
    font-weight: bolder;
    height: 35px;
    color: white;
    border: none;
    border-radius: 8px;
  }
  #sort-select{
    background-color: green;
    color: white;
    width: 150px;
    padding: 8px;
    height: 35px;
  }
  
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
    overflow: hidden;
  }
  
  .card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 16px;
    border-radius: 4px;
    display: flex   ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  h3{
    color: red;
  }
  span{
    color: blue;
  }
  .btn{
    background-color: rgb(2, 88, 20);
    color: white;
    border: none;
    width: 100px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
  }
  .ok{
    font-size: 22px;
    font-weight: 600;
    color: blue;
  }
  .header-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 1rem;
    flex-shrink: 0;
    border: 2px solid green;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: capitalize;
    word-wrap: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
  }