css 
.navbar-brand img { 
  margin-right: 5px; 
} 
 
.navbar-nav .nav-link { 
  padding-right: 15px; 
}
body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

  .hero-image {
    background-image: url("https://i.pinimg.com/564x/f9/82/ec/f982ecc1c11b9df8e6970e79f8698578.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
  }

  .hero-button {
    margin-right: 16px;
    padding: 12px 24px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }

  .hero-button:hover {
    background-color: #fff;
    color: #000;
  }

  .hero-button-orange {
    background-color: #ee0d20;
    border-color: #ff6600;
  }

  .hero-button-orange:hover {
    background-color: #fff;
    color: #ff6600;
  }

  @media (max-width: 768px) {
    .hero-content {
      font-size: 18px;
    }

    .hero-buttons {
      flex-direction: column;
      align-items: flex-start;
    }

    .hero-button {
      margin-bottom: 16px;
    }

  }

  .movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }

  .movie-card img {
    max-width: 100%;
    border-radius: 8px;
  }

  .watch-now-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #dd0e29;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .watch-now-btn:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
  }
  .movies-container{
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  @media (max-width: 768px) {
    .movies-container{
        background-color: #f4f4f4;
    
        display: flex;
        flex-direction:  column;
        align-items: center;
    }

  }
  .trending{
    padding: 20px;
    
  }
 .tr{
    font-weight: 900;
    color: #dd0e29;

  }
  h2{
    font-weight: 700;
    color:#0056b3;
  }
  .about-content{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }

  .about-text {
    flex: 1;
    padding-right: 20px;
  }

  .about-image {
    flex: 1;
    text-align: center;
  }

  .about-image img {
    max-width: 100%;
    border-radius: 8px;
  }

  .read-more-btn {
    display: block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #ff4747;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  #become{
    background-color: red;
    width: 230px;
    padding: 10px;
    height: 45px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 10px;


  }

  .read-more-btn:hover {
    background-color: #d23232;
  }
  @media (max-width: 768px) {
    .about-container {
        display: flex;
        flex-direction: column;
      
 
       
  
      }
      .about-image{
        padding: 5px;
      }

  }
  .vip-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }

  .vip-card img {
    width: 150px;

    border-radius: 50%;
    margin-bottom: 15px;
  }
  .vip-card h2{
    font-size: 30px;
  }

  .verified-badge {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
  }
  .containes{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .image-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }

  .image-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
  }